# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 1 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Data Import and first Inspection

In [1]:
import pandas as pd
import numpy as np

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [2]:
movies = pd.read_csv('movies_complete.csv', index_col= 'id')
movies.head()

,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
id,,,,,,,,,,,,,,,,,,,,,
862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,...,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,...,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,...,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,...,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,...,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

__Movies Top 5 - Highest Revenue__

In [14]:
movies.sort_values(by='revenue_musd', ascending = False)[['title','revenue_musd']].head(5)

                               title  revenue_musd
id
19995                         Avatar   2787.965087
140607  Star Wars: The Force Awakens   2068.223624
597                          Titanic   1845.034188
24428                   The Avengers   1519.557910
135397                Jurassic World   1513.528810

__Movies Top 5 - Highest Budget__

In [16]:
movies.nlargest(5,'budget_musd')[['title','budget_musd']]

                                             title  budget_musd
id
1865   Pirates of the Caribbean: On Stranger Tides        380.0
285       Pirates of the Caribbean: At World's End        300.0
99861                      Avengers: Age of Ultron        280.0
1452                              Superman Returns        270.0
38757                                      Tangled        260.0

__Movies Top 5 - Highest Profit__

In [34]:
movies['profit_musd'] = movies['revenue_musd'] - movies['budget_musd']
movies.nlargest(5,'profit_musd')[['title','profit_musd']]
movies.head()

,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit_musd
id,,,,,,,,,,,,,,,,,,,,,
862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,...,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.554033
8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,...,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,197.797249
15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,...,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,NaN
31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,...,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,65.452156
11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,...,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,NaN

__Movies Top 5 - Lowest Profit__

In [35]:
movies['profit_musd'] = movies['revenue_musd'] - movies['budget_musd']
movies.nsmallest(5,'profit_musd')[['title','profit_musd']]

                                              title  profit_musd
id
57201                               The Lone Ranger  -165.710090
10733                                     The Alamo  -119.180039
50321                               Mars Needs Moms  -111.007242
339964  Valerian and the City of a Thousand Planets  -107.447384
1911                               The 13th Warrior   -98.301101

__Movies Top 5 - Highest ROI__

In [43]:
movies10 = movies.copy()
movies10 = movies10[movies10['budget_musd']>=10]
movies10['ROI'] = movies10['revenue_musd']/movies10['budget_musd']
movies10.nlargest(5,'ROI')[['title','ROI']]

                            title        ROI
id
601    E.T. the Extra-Terrestrial  75.520507
11                      Star Wars  70.490728
114                  Pretty Woman  33.071429
77338            The Intouchables  32.806221
1891      The Empire Strikes Back  29.911111

__Movies Top 5 - Lowest ROI__

In [45]:
movies10.nsmallest(5,'ROI')[['title','ROI']]

                 title           ROI
id
14844  Chasing Liberty  5.217391e-07
18475      The Cookout  7.500000e-07
33927         Deadfall  1.800000e-06
10944       In the Cut  1.916667e-06
98339    The Samaritan  2.100833e-04

__Movies Top 5 - Most Votes__

In [47]:
movies.nlargest(5,'vote_count')[['title','vote_count']]

                  title  vote_count
id
27205         Inception     14075.0
155     The Dark Knight     12269.0
19995            Avatar     12114.0
24428      The Avengers     12000.0
293660         Deadpool     11444.0

__Movies Top 5 - Highest Rating__

In [58]:
movies['vote_count'].apply(lambda cnt: int(cnt))
movies[movies['vote_count']>=10].nlargest(5,'vote_average')[['title','vote_average']]

                                                    title  vote_average
id
130824  As I Was Moving Ahead Occasionally I Saw Brief...           9.5
420714                                    Planet Earth II           9.5
26397                                       The Civil War           9.2
19404                         Dilwale Dulhania Le Jayenge           9.1
409926                                             Cosmos           9.1

__Movies Top 5 - Lowest Rating__

In [59]:
movies[movies['vote_count']>=10].nsmallest(5,'vote_average')[['title','vote_average']]

                                  title  vote_average
id
279988   Extinction: Nature Has Evolved           0.0
398818             Call Me by Your Name           0.0
341689  How to Talk to Girls at Parties           0.0
22727          The Beast of Yucca Flats           1.6
13383                       Santa Claus           1.6

__Movies Top 5 - Most Popular__

In [60]:
movies.nlargest(5,'popularity')[['title','popularity']]

                       title  popularity
id
211672               Minions  547.488298
297762          Wonder Woman  294.337037
321612  Beauty and the Beast  287.253654
339403           Baby Driver  228.032744
177572            Big Hero 6  213.849907

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

In [61]:
movies.columns

Index(['title', 'tagline', 'release_date', 'genres', 'belongs_to_collection',
       'original_language', 'budget_musd', 'revenue_musd',
       'production_companies', 'production_countries', 'vote_count',
       'vote_average', 'popularity', 'runtime', 'overview', 'spoken_languages',
       'poster_path', 'cast', 'cast_size', 'crew_size', 'director',
       'profit_musd'],
      dtype='object')

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

In [126]:
#movies['genres'].apply(lambda genres: genres.split('|'))
#'Animation' in movies['genres'].iloc[0].split('|')
movies1 = movies.copy()
movies1 = movies1[movies1['genres'].notnull()]
# filter to only Science Fiction movies
movies1 = movies1[movies1['genres'].apply(lambda genres: 'Science Fiction' in genres.split('|'))]
# filter to only Bruce Willis movies
movies1 = movies1[movies1['cast'].notnull()]
movies1 = movies1[movies1['cast'].apply(lambda cast: 'Bruce Willis' in cast.split('|'))]
movies1.sort_values(by= 'vote_average', ascending = False)[['title', 'genres','cast','vote_average']]

,title,genres,cast,vote_average
id,,,,
63,Twelve Monkeys,Science Fiction|Thriller|Mystery,Bruce Willis|Madeleine Stowe|Brad Pitt|Christo...,7.4
18,The Fifth Element,Adventure|Fantasy|Action|Thriller|Science Fiction,Bruce Willis|Gary Oldman|Ian Holm|Milla Jovovi...,7.3
9741,Unbreakable,Science Fiction|Thriller|Drama,Bruce Willis|Samuel L. Jackson|Robin Wright|Sp...,6.9
59967,Looper,Action|Thriller|Science Fiction,Joseph Gordon-Levitt|Bruce Willis|Emily Blunt|...,6.6
95,Armageddon,Action|Thriller|Science Fiction|Adventure,Bruce Willis|Billy Bob Thornton|Ben Affleck|Li...,6.5
5172,The Astronaut Farmer,Adventure|Comedy|Drama|Science Fiction,Billy Bob Thornton|Virginia Madsen|Max Thierio...,6.2
19959,Surrogates,Action|Science Fiction|Thriller,Bruce Willis|Radha Mitchell|Rosamund Pike|Jame...,5.9
72559,G.I. Joe: Retaliation,Adventure|Action|Science Fiction|Thriller,Dwayne Johnson|D.J. Cotrona|Adrianne Palicki|B...,5.4
31586,North,Comedy|Drama|Family|Fantasy|Science Fiction,Elijah Wood|Jason Alexander|Julia Louis-Dreyfu...,4.8
307663,Vice,Thriller|Science Fiction|Action|Adventure,Ambyr Childers|Thomas Jane|Bryan Greenberg|Bru...,4.1

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

In [154]:
movies2 = movies.copy()
# remove null values
movies2.dropna(subset = ['cast', 'director'], how = 'any', inplace = True)
movies2 = movies2[movies2['cast'].apply(lambda cast: 'Uma Thurman' in cast.split('|'))]
movies2 = movies2[movies2['director'].apply(lambda director: 'Quentin Tarantino' in director.split('|'))]
movies2.sort_values(by='runtime')

,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit_musd
id,,,,,,,,,,,,,,,,,,,,,
24,Kill Bill: Vol. 1,Go for the kill.,2003-10-10,Action|Crime,Kill Bill Collection,en,30.0,180.949000,Miramax Films|A Band Apart|Super Cool ManChu,United States of America,...,25.261865,111.0,An assassin is shot at the altar by her ruthle...,English|日本語|Français,<img src='http://image.tmdb.org/t/p/w185//v7Ta...,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,36,161,Quentin Tarantino,150.949000
393,Kill Bill: Vol. 2,The bride is back for the final cut.,2004-04-16,Action|Crime|Thriller,Kill Bill Collection,en,30.0,152.159461,Miramax Films|A Band Apart|Super Cool ManChu,United States of America,...,21.533072,136.0,The Bride unwaveringly continues on her roarin...,English|普通话|Español|广州话 / 廣州話,<img src='http://image.tmdb.org/t/p/w185//2yhg...,Uma Thurman|David Carradine|Daryl Hannah|Micha...,27,130,Quentin Tarantino,122.159461
680,Pulp Fiction,Just because you are a character doesn't mean ...,1994-09-10,Thriller|Crime,NaN,en,8.0,213.928762,Miramax Films|A Band Apart|Jersey Films,United States of America,...,140.950236,154.0,"A burger-loving hit man, his philosophical par...",English|Español|Français,<img src='http://image.tmdb.org/t/p/w185//d5iI...,John Travolta|Samuel L. Jackson|Uma Thurman|Br...,54,87,Quentin Tarantino,205.928762

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

In [181]:
movies3 = movies.copy()
# remove null values
movies3.dropna(subset = ['production_companies','release_date'], how = 'any', inplace = True)
movies3 = movies3[movies3['production_companies'].apply(lambda x: 'Pixar Animation Studios' in x.split('|'))]
movies3['release_yr'] = movies3['release_date'].apply(lambda date: int(date.split('-')[0]))
movies3 = movies3[(movies3['release_yr'] >= 2010) & (movies3['release_yr'] <= 2015)]
movies3.sort_values(by = 'revenue_musd', ascending = False)[['title','production_companies','release_date','revenue_musd']]

,title,production_companies,release_date,revenue_musd
id,,,,
10193,Toy Story 3,Walt Disney Pictures|Pixar Animation Studios,2010-06-16,1066.969703
150540,Inside Out,Walt Disney Pictures|Pixar Animation Studios,2015-06-09,857.611174
62211,Monsters University,Walt Disney Pictures|Pixar Animation Studios,2013-06-20,743.559607
49013,Cars 2,Walt Disney Pictures|Pixar Animation Studios,2011-06-11,559.852396
62177,Brave,Walt Disney Pictures|Pixar Animation Studios,2012-06-21,538.983207
105864,The Good Dinosaur,Walt Disney Pictures|Pixar Animation Studios,2015-11-14,331.926147
40619,Day & Night,Walt Disney Pictures|Pixar Animation Studios,2010-06-17,NaN
200481,The Blue Umbrella,Pixar Animation Studios,2013-02-12,NaN
213121,Toy Story of Terror!,Walt Disney Pictures|Pixar Animation Studios,2013-10-15,NaN
83564,La luna,Pixar Animation Studios,2011-01-01,NaN
77887,Hawaiian Vacation,Pixar Animation Studios,2011-06-16,NaN
82424,Small Fry,Pixar Animation Studios,2011-11-23,NaN
130925,Partysaurus Rex,Walt Disney Pictures|Pixar Animation Studios,2012-09-14,NaN
141423,The Legend of Mor'du,Pixar Animation Studios,2012-01-01,NaN
256835,Toy Story That Time Forgot,Pixar Animation Studios,2014-12-02,NaN
286192,Lava,Pixar Animation Studios,2015-06-21,NaN
345637,Sanjay's Super Team,Pixar Animation Studios,2015-11-25,NaN
145316,Air Mater,Pixar Animation Studios,2011-08-04,NaN
355338,Riley's First Date?,Walt Disney Pictures|Pixar Animation Studios,2015-11-03,NaN

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [188]:
movies4 = movies.copy()
# remove null values
movies4.dropna(subset = ['spoken_languages'], how = 'any', inplace = True)
movies4 = movies4[movies4['spoken_languages'].apply(lambda lang: 'English' in lang.split('|'))]
movies4[movies4['vote_average'] >= 7.5].sort_values(by = 'release_date', ascending = False)

,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,...,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit_musd
id,,,,,,,,,,,,,,,,,,,,,
374471,Porto,NaN,2017-09-14,Romance|Drama,NaN,en,NaN,NaN,NaN,Poland|Portugal|France|United States of America,...,2.152189,75.0,Jake and Mati are two outsiders in the norther...,English|Français|Português,<img src='http://image.tmdb.org/t/p/w185//2jsN...,Lucie Lucas|Anton Yelchin|Paulo Calatré|Franço...,5,17,Gabe Klinger,NaN
460135,LEGO DC Super Hero Girls: Brain Drain,NaN,2017-08-30,Animation,DC Super Hero Girls Collection,en,NaN,NaN,Warner Bros. Animation,United States of America,...,8.413734,NaN,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",English|Polski|Português,<img src='http://image.tmdb.org/t/p/w185//8wz6...,Grey Griffin|Tara Strong|Anais Fairweather|Tea...,17,6,Todd Grimes,NaN
411741,Ingrid Goes West,She'll follow you.,2017-08-11,Drama|Comedy,NaN,en,NaN,NaN,Star Thrower Entertainment|141 Entertainment|Neon,United States of America,...,3.647596,97.0,Ingrid becomes obsessed with a social network ...,English,<img src='http://image.tmdb.org/t/p/w185//3LEy...,Aubrey Plaza|Elizabeth Olsen|O'Shea Jackson Jr...,21,19,Matt Spicer,NaN
374720,Dunkirk,The event that shaped our world,2017-07-19,Action|Drama|History|Thriller|War,NaN,en,100.000000,519.876949,Canal+|Studio Canal|Warner Bros.|Syncopy|RatPa...,Netherlands|France|United Kingdom|United State...,...,30.938854,107.0,The miraculous evacuation of Allied soldiers f...,English|Français|Deutsch,<img src='http://image.tmdb.org/t/p/w185//ebSn...,Fionn Whitehead|Tom Glynn-Carney|Jack Lowden|H...,66,214,Christopher Nolan,419.876949
416477,The Big Sick,An awkward true story.,2017-06-23,Comedy|Drama|Romance,NaN,en,NaN,52.620184,FilmNation Entertainment|Apatow Productions|Am...,United States of America,...,23.424794,120.0,Pakistan-born comedian Kumail Nanjiani and gra...,English|اردو,<img src='http://image.tmdb.org/t/p/w185//qquE...,Kumail Nanjiani|Zoe Kazan|Holly Hunter|Ray Rom...,44,129,Michael Showalter,NaN
461634,Rory Scovel Tries Stand-Up for the First Time,NaN,2017-06-20,Comedy,NaN,en,NaN,NaN,Netflix,United States of America,...,0.593041,66.0,Comedian Rory Scovel storms the stage in Atlan...,English,<img src='http://image.tmdb.org/t/p/w185//z4pp...,Rory Scovel,1,2,Scott Moran,NaN
382614,The Book of Henry,Never leave things undone.,2017-06-16,Thriller|Drama|Crime,NaN,en,10.000000,4.219536,Sidney Kimmel Entertainment|Double Nickel Ente...,United States of America,...,24.553725,105.0,"Naomi Watts stars as Susan, a single mother of...",English,<img src='http://image.tmdb.org/t/p/w185//suLF...,Naomi Watts|Jaeden Lieberher|Jacob Tremblay|Sa...,27,27,Colin Trevorrow,-5.780464
433471,Lou,NaN,2017-06-16,Animation,NaN,en,NaN,NaN,Pixar Animation Studios,NaN,...,1.770297,6.0,A Pixar short about a lost-and-found box and t...,English,<img src='http://image.tmdb.org/t/p/w185//zAQm...,NaN,0,1,Dave Mullins,NaN
382127,Manifesto,ALL CURRENT ART IS FAKE,2017-06-15,Drama,NaN,en,0.010000,NaN,Bayerischer Rundfunk|Schiwago Film,Australia|Germany,...,2.022670,130.0,"Manifesto draws on the writings of Futurists, ...",English|Italiano,<img src='http://image.tmdb.org/t/p/w185//eszm...,Cate Blanchett|Erika Bauer|Ruby Bustamante|Car...,12,2,Julian Rosefeldt,NaN
461805,The Putin Interviews,Know Your Enemy,2017-06-12,Documentary,NaN,en,NaN,NaN,Ixtlan Productions|Showtime Documentary Films|...,United States of America,...,0.642527,240.0,"Academy Award-winning filmmaker, Oliver Stone ...",English|Pусский,<img src='http://image.tmdb.org/t/p/w185//irsz...,Vladimir Putin|Oliver Stone,2,2,Oliver Stone,NaN
453008,Hell on Earth: The Fall of Syria and the Rise ...,NaN,2017-06-11,Documentary,NaN,en,NaN,NaN,NaN,NaN,...,0.631435,99.0,A look at the current state of Syria amidst wa...,العربية|English,<img src='http://image.tmdb.org/t/p/w185//m3TV...,Sebastian Junger,1,2,Sebastian Junger,NaN
305342,Dean,NaN,2017-06-02,Comedy,NaN,en,NaN,NaN,Honora Productions|Spring Pictures,United States of America,...,1.807007,87.0,A freelance illustrator in New York suffers a ...,English,<img src='http://image.tmdb.org/t/p/w185//8cEQ...,Demetri Martin|Gillian Jacobs|Christine Woods|...,10,4,Demetri Martin,NaN
455661,In a Heartbeat,The Heart Wants What The Heart Wants,2017-06-01,Family|Animation|Romance|Comedy,NaN,en,NaN,NaN,Ringling College of Art and Design,United States of America,...,20.821780,4.0,A closeted boy runs the risk of being outed by...,English,<img src='http://image.tmdb.org/t/p/w185//wJUJ...,NaN,0,7,Beth David,NaN
459295,Sarah Silverman: A Speck of Dust,NaN,2017-05-30,Comedy,NaN,en,NaN,NaN,NetFlix|Netflix|Netflix Studios,United States of America,...,0.828399,71.0,"In her first comedy special post-health scare,...",English,<img src='http://image.tmdb.org/t/p/w185//mLkM...,Sarah Silverman,1,11,Liam Lynch,NaN
419192,McLaren,Pioneer. Leader. Father. Champion.,2017-05-25,Documentary,NaN,en,NaN,NaN,General Film Corporation,New Zealand,...,1.487037,94.0,"The story of New Zealander, Bruce McLaren, who...",English,<img src='http://image.tmdb.org/t/p/w185//yRWI...,Dwayne Cameron|Mario Andretti|Alastair Caldwel...,5,18,Roger Donaldson,NaN
458310,Hasan Minhaj: Homecoming King,NaN,2017-05-23,Comedy,NaN,en,NaN,NaN,Netflix,United States of America,...,1.531309,72.0,"Comic Hasan Minhaj of ""The Daily Show"" shares ...",English|हिन्दी|اردو,<img src='http://image.tmdb.org/t/p/w185//qnd3...,NaN,0,2,Christopher Storer,NaN
458298,The Keepers,Who killed Sister Cathy?,2017-05-19,Crime|Documentary|Drama,NaN,en,NaN,NaN,Netflix|Film 45|Tripod Media,United States of America,...,1.576170,432.0,A seven-part docuseries about the unsolved mur...,English,<img src='http://image.tmdb.org/t/p/w185//ltmL...,NaN,0,12,Ryan White,NaN
411007,Abacus: Small Enough to Jail,NaN,2017-05-19,Documentary,NaN,en,NaN,NaN,Kartemquin Films,United States of America,...,0.759280,88.0,The incredible saga of the Chinese immigrant S...,English,<img src='http://image.tmdb.org/t/p/w185//4u00...,Neil Barofsky|Ti-Hua Chang|Jiayang Fan|Roman F...,15,6,Steve James,NaN
387426,Okja,NaN,2017-05-19,Adventure|Drama|Fantasy|Science Fiction,NaN,en,50.000000,NaN,Plan B Entertainment|Lewis Pictures|Kate Stree...,South Korea|United States of America,...,15.738471,121.0,A young girl named Mija risks everything to pr...,English|한국어/조선말|Español,<img src='http://image.tmdb.org/t/p/w185//pHlR...,Tilda Swinton|Paul Dano|Ahn Seo-hyun |Byun Hee...,46,32,Bong Joon-ho,NaN
447818,Generation Iron 2,Is there a limit?,2017-05-12,Documentary,NaN,en,NaN,NaN,"Vladar Company, The",United States of America,...,2.004971,106.0,"From the director of Generation Iron, comes th...",English,<img src='http://image.tmdb.org/t/p/w185//cXZG...,Calum Von Moger|Kai Greene|Rich Piana,3,1,Vlad Yudin,NaN
456348,Batman & Bill,NaN,2017-05-06,Documentary,NaN,en,NaN,NaN,9.14 Pictures,United States of America,...,0.990632,93.0,"Everyone thinks that Bob Kane created Batman, ...",English,<img src='http://image.tmdb.org/t/p/w185//gc1o...,Michael Uslan|Roy Thomas|Marc Tyler Nobleman|T...,12,11,Don Argott,NaN
454787,Chris Gethard: Career Suicide,Comedy can be found in the darkest places.,2017-05-06,Comedy,NaN,en,NaN,NaN,NaN,United States of America,...,1.135015,90.0,"A comedy about depression, alcoholism, suicide...",English,<img src='http://image.tmdb.org/t/p/w185//66t6...,Chris Gethard,1,3,Kimberly Senior,NaN
464207,The Truth Is in the Stars,NaN,2017-05-01,Documentary,NaN,en,NaN,NaN,NaN,Canada,...,1.075249,86.0,"William Shatner sits down with scientists, inn...",English,<img src='http://image.tmdb.org/t/p/w185//7UfW...,William Shatner|Neil deGrasse Tyson|Chris Hadf...,9,1,Craig Thompson,NaN
450875,LA 92,The past is prologue,2017-04-28,Documentary,NaN,en,NaN,NaN,National Geographic,United States of America,...,0.855198,114.0,Twenty-five years after the verdict in the Rod...,English,<img src='http://image.tmdb.org/t/p/w185//oT7O...,Rodney King|Tom Brokaw|George H. W. Bush|Bill ...,7,8,T.J. Martin,NaN
450945,I Am Heath Ledger,NaN,2017-04-23,Documentary,NaN,en,NaN,NaN,NaN,NaN,...,2.293791,90.0,"The life and career of an actor, artist, and i...",English,<img src='http://image.tmdb.org/t/p/w185//96Sc...,Heath Ledger|Kate Ledger|Kim Ledger|Olivia Led...,14,8,Derik Murray,NaN
452166,The Reagan Show,Our country was his stage.,2017-04-22,Documentary,NaN,en,NaN,NaN,NaN,NaN,...,0.206170,75.0,Comprised entirely of archival footage taken d...,English,<img src='http://image.tmdb.org/t/p/w185//oNiJ...,Ronald Reagan|Nancy Reagan|Barbara Walters|Wal...,7,8,Sierra Pettengill,NaN
355277,Born in China,NaN,2017-04-21,Documentary,NaN,zh,NaN,NaN,Walt Disney Studios Motion Pictures|Disneynatu...,United Kingdom|United States of America|China,...,7.709977,76.0,"Venturing into the wilds of China, ""Born in Ch...",English|普通话|Español,<img src='http://image.tmdb.org/t/p/w185//7oOH...,John Krasinski|Zhou Xun,2,8,Lu Chuan,NaN
283995,Guardians of the Galaxy Vol. 2,Obviously.,2017-04-19,Action|Adventure|Comedy|Science Fiction,Guardians of the Galaxy Collection,en,200.000000,863.416141,Walt Disney Pictures|Marvel Studios,United States of America,...,185.330992,137.0,The Guardians must fight to keep their newfoun...,English,<img src='http://image.tmdb.org/t/p/w185//y4MB...,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,63,131,James Gunn,663.416141
411012,Chasing Trane,The John Coltrane Documentary,2017-04-14,Documentary,NaN,en,NaN,0.393970,Meteor 17|Crew Neck Productions,United States of America,...,0.519968,99.0,The film explores the global power and impact ...,English,<img src='http://image.tmdb.org/t/p/w185//2yoy...,Denzel Washington|Common|Bill Clinton|Carlos S...,9,8,John Scheinfeld,NaN
359784,Maudie,Triumph epitomizes adversity,2017-04-14,Drama|History|Romance,NaN,en,NaN,NaN,NaN,Canada,...,6.404957,115.0,An unlikely romance in which the reclusive Eve...,English|Français,<img src='http://image.tmdb.org/t/p/w185//wu9R...,Sally Hawkins|Ethan Hawke|Gabrielle Rose|Billy...,16,27,Aisling Walsh,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264309,Navy Blues,NaN,1929-12-20,Comedy|Drama,NaN,en,NaN,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,0.094685,77.0,"On shore leave, a young sailor meets and falls...",English,<img src='http://image.tmdb.org/t/p/w185//ubbX...,William Haines|Anita Page|Karl Dane|J.C. Nugen...,25,11,Clarence Brown,NaN
42616,The Virginian,NaN,1929-11-09,Western,NaN,en,NaN,NaN,Paramount Pictures,United States of America,...,0.037264,91.0,A good-natured cowboy who is romancing the new...,English,<img src='http://image.tmdb.org/t/p/w185//dbPY...,Gary Cooper|Walter Huston|Richard Arlen|Mary B...,9,17,Victor Fleming,NaN
94716,A Cottage on Dartmoor,NaN,1929-10-01,Drama,NaN,en,NaN,NaN,Svensk Filmindustri (SF)|British Instructional...,Sweden|United Kingdom,...,0.465277,88.0,"Flashback story of an escape from the lonely, ...",English,<img src='http://image.tmdb.org/t/p/w185//e2Am...,Norah Baring|Uno Henning|Hans Adalbert Schlett...,5,4,Anthony Asquith,NaN
105981,Lucky Star,NaN,1929-08-18,Romance|Drama,NaN,en,NaN,NaN,Fox Film Corporation,United States of America,...,1.333157,90.0,"Mary, a poor farm girl, meets Tim just as word...",English,<img src='http://image.tmdb.org/t/p/w185//2dan...,Janet Gaynor|Charles Farrell|Guinn Williams|Pa...,9,11,Frank Borzage,NaN
288521,Why Be Good?,NaN,1929-02-28,Romance|Comedy,NaN,en,NaN,NaN,First National Pictures,United States of America,...,0.374038,84.0,Colleen Moore as a flapper who unwittingly fal...,English,<img src='http://image.tmdb.org/t/p/w185//mvHM...,Colleen Moore|Neil Hamilton|Bodil Rosing|John ...,19,5,William A. Seiter,NaN
28189,The Fall of the House of Usher,NaN,1928-10-04,Drama|Horror,NaN,fr,NaN,NaN,Films Jean Epstein,France,...,1.229788,63.0,Adapted from Edgar Allan Poe's Fall of the Hou...,English,<img src='http://image.tmdb.org/t/p/w185//t8fq...,Jean Debucourt|Marguerite Gance|Charles Lamy|F...,9,9,Jean Epstein,NaN
31411,The Cameraman,NaN,1928-09-16,Comedy,NaN,en,NaN,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,4.824576,76.0,Buster is a tintype portrait photographer who ...,English,<img src='http://image.tmdb.org/t/p/w185//prhM...,Buster Keaton|Marceline Day|Harold Goodwin|Sid...,14,14,Buster Keaton,NaN
42614,Our Dancing Daughters,NaN,1928-09-01,Drama|Romance,NaN,en,NaN,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,0.112326,84.0,Diana is outwardly the hit of the party but in...,English,<img src='http://image.tmdb.org/t/p/w185//sh3H...,Joan Crawford|Johnny Mack Brown|Nils Asther|Do...,11,8,Harry Beaumont,NaN
101482,Lonesome,With all the glamor and glitter of Coney Islan...,1928-06-20,Comedy|Drama|Romance,NaN,en,NaN,NaN,Universal Pictures,United States of America,...,1.671902,69.0,Two lonely people in the big city meet and enj...,English,<img src='http://image.tmdb.org/t/p/w185//jo7w...,Barbara Kent|Glenn Tryon|Fay Holderness|Gusztá...,6,8,Pál Fejős,NaN
28978,The Circus,NaN,1928-01-06,Comedy|Drama,NaN,en,9.000000,NaN,Charles Chaplin Productions,United States of America,...,6.714813,71.0,"Charlie, a wandering tramp, becomes a circus h...",English,<img src='http://image.tmdb.org/t/p/w185//hWw9...,Charlie Chaplin|Al Ernest Garcia|Merna Kennedy...,9,2,Charlie Chaplin,NaN
73969,My Best Girl,NaN,1927-10-31,Drama|Comedy|Romance,NaN,en,0.483103,1.027757,Mary Pickford Company,United States of America,...,0.205671,80.0,"Joe Merrill, son of the millionaire owner of a...",English,<img src='http://image.tmdb.org/t/p/w185//s7Cy...,Mary Pickford|Charles 'Buddy' Rogers|Sunshine ...,23,10,Sam Taylor,0.544654
27503,The Unknown,NaN,1927-06-04,Drama|Horror|Romance,I Love a Mystery movie series,en,0.217000,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,1.481620,63.0,Lon Chaney is carnival knife thrower Alonzo th...,English,<img src='http://image.tmdb.org/t/p/w185//rmLq...,Lon Chaney|Joan Crawford|Norman Kerry|Nick De ...,6,6,Tod Browning,NaN
16661,The Kid Brother,NaN,1927-01-17,Comedy|Drama,NaN,en,NaN,NaN,NaN,United States of America,...,1.132810,82.0,The most important family in Hickoryville is (...,English,<img src='http://image.tmdb.org/t/p/w185//wxh7...,Harold Lloyd|Jobyna Ralston|Walter James|Leo W...,9,8,Ted Wilde,NaN
961,The General,"Buster drives ""The General"" to trainload of la...",1926-12-31,Action|Adventure|Comedy|Drama,NaN,en,0.750000,NaN,Buster Keaton Productions|Joseph M. Schenck Pr...,United States of America,...,8.002953,79.0,During America’s Civil War Union spies steal e...,English,<img src='http://image.tmdb.org/t/p/w185//wZ9R...,Buster Keaton|Marion Mack|Glen Cavender|Jim Fa...,22,25,Buster Keaton,NaN
128899,Bardelys the Magnificent,The screen's great lover in a dashing role!,1926-09-30,Action|Drama|Romance,NaN,en,NaN,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,0.978542,90.0,Rafael Sabatini's story of the swashbuckling e...,English,<img src='http://image.tmdb.org/t/p/w185//9d2W...,John Gilbert|Eleanor Boardman|Roy D'Arcy|Lione...,6,11,King Vidor,NaN
85638,The Scarlet Letter,NaN,1926-08-09,Drama,NaN,en,NaN,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,0.284522,115.0,"In Puritan Boston, seamstress Hester Prynne is...",English,<img src='http://image.tmdb.org/t/p/w185//4c5u...,Lillian Gish|Lars Hanson|Henry B. Walthall|Kar...,6,3,Victor Sjöström,NaN
73575,Sparrows,NaN,1926-05-14,Drama,NaN,en,0.463455,0.966878,Pickford Corporation,United States of America,...,0.445526,84.0,Evil Mr.Grimes keeps a rag-tag bunch orphans o...,English,<img src='http://image.tmdb.org/t/p/w185//3ZPf...,Mary Pickford|Roy Stewart|Mary Louise Miller|G...,15,5,William Beaudine,0.503423
121379,Lady Windermere's Fan,NaN,1925-12-26,Comedy,NaN,en,0.320000,NaN,Warner Bros.,United States of America,...,0.497550,120.0,"Mrs Erlynne, the mother of Lady Windermere - h...",English,<img src='http://image.tmdb.org/t/p/w185//fpDP...,Ronald Colman|May McAvoy|Bert Lytell|Irene Ric...,6,10,Ernst Lubitsch,NaN
962,The Gold Rush,The World's Greatest Laughing Picture!,1925-06-25,Adventure|Comedy|Drama,NaN,en,0.923000,2.500000,Charles Chaplin Productions,United States of America,...,6.202041,95.0,A lone prospector ventures into Alaska looking...,English,<img src='http://image.tmdb.org/t/p/w185//eQRF...,Charlie Chaplin|Georgia Hale|Mack Swain|Tom Mu...,40,20,Charlie Chaplin,1.577000
1405,Greed,NaN,1924-12-04,Drama|History,NaN,en,0.546883,NaN,Metro-Goldwyn-Mayer (MGM),United States of America,...,6.925081,140.0,Greed is the classic 1924 silent film by Erich...,English,<img src='http://image.tmdb.org/t/p/w185//eur2...,Zasu Pitts|Gibson Gowland|Jean Hersholt|Dale F...,24,26,Erich von Stroheim,NaN
992,"Sherlock, Jr.",Every inch of footage holds such a laugh!,1924-04-21,Fantasy|Drama|Comedy|Mystery,NaN,en,NaN,NaN,Metro Pictures,United States of America,...,5.858328,49.0,"A film projectionist longs to be a detective, ...",English,<img src='http://image.tmdb.org/t/p/w185//1G9r...,Buster Keaton|Kathryn McGuire|Joe Keaton|Erwin...,12,13,Buster Keaton,NaN
701,Our Hospitality,A Comedy with a Heart of Gold,1923-11-19,Comedy|Drama|Family,NaN,en,NaN,NaN,Joseph M. Schenck Productions,United States of America,...,2.830289,73.0,A man returns to his Appalachian homestead. On...,English,<img src='http://image.tmdb.org/t/p/w185//lQrE...,Buster Keaton|Joe Roberts|Natalie Talmadge|Ral...,13,13,Buster Keaton,NaN
91208,Souls for Sale,NaN,1923-04-22,Comedy|Drama|Romance,NaN,en,NaN,NaN,Goldwyn Pictures Corporation,United States of America,...,0.211760,90.0,"A young woman hits Hollywood, determined to be...",English,<img src='http://image.tmdb.org/t/p/w185//hsx4...,Eleanor Boardman|Frank Mayo|Richard Dix|Mae Bu...,81,7,Rupert Hughes,NaN
23282,One Week,NaN,1920-09-01,Comedy,NaN,en,NaN,NaN,Joseph M. Schenck Productions,United States of America,...,3.121673,25.0,"The story involves two newlyweds, Keaton and S...",English,<img src='http://image.tmdb.org/t/p/w185//gIP9...,Buster Keaton|Sybil Seely|Joe Roberts,3,5,Buster Keaton,NaN
54242,Mickey,NaN,1918-08-01,Comedy|Drama,NaN,en,0.250000,8.000000,Mabel Normand Feature Film Company,United States of America,...,0.211008,93.0,"Mickey, an orphan who has been brought up in a...",English,<img src='http://image.tmdb.org/t/p/w185//9yzM...,Mabel Normand|George Nichols|Wheeler Oakman|Mi...,8,5,F. Richard Jones,7.750000
47653,The Immigrant,"""The Tramp"" arrives in New York",1917-06-17,Comedy|Drama,NaN,en,NaN,NaN,Mutual Film Company|Lone Star Corporation,United States of America,...,3.933922,20.0,Charlie is an immigrant who endures a challeng...,English|Italiano,<img src='http://image.tmdb.org/t/p/w185//uCRk...,Charlie Chaplin|Edna Purviance|Eric Campbell|A...,15,13,Charlie Chaplin,NaN
371758,And Then There Were None,Agatha Christie's darkest thriller,NaN,Crime|Mystery|Drama,NaN,en,NaN,NaN,British Broadcasting Corporation (BBC)|Mammoth...,United Kingdom,...,5.238281,168.0,"Ten strangers, drawn away from their normal li...",English|Français|Magyar,<img src='http://image.tmdb.org/t/p/w185//j80t...,NaN,0,0,NaN,NaN
410142,Lo Sound Desert,NaN,NaN,Documentary,NaN,en,NaN,NaN,NaN,NaN,...,0.001393,NaN,Lo Sound Desert is a documentary about the Cal...,English,<img src='http://image.tmdb.org/t/p/w185//pecG...,Joshua Homme|Brant Bjork|Nick Oliveri,3,2,Jörg Steineck,NaN
426224,Jedi Junior High,Come See the Galaxy Like a Kid Again,NaN,Documentary,NaN,en,NaN,NaN,NaN,United States of America,...,0.001182,75.0,"In 2009, students of all walks of life at the ...",English,<img src='http://image.tmdb.org/t/p/w185//exhs...,NaN,0,2,Tim Larson,NaN
425916,Salad Fingers,NaN,NaN,Animation|Horror|Science Fiction,NaN,en,NaN,NaN,NaN,United Kingdom,...,0.141367,52.0,"The adventures of Salad Fingers, an unspecifie...",English,<img src='http://image.tmdb.org/t/p/w185//xQEW...,David Firth,1,1,NaN,NaN

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

__Franchise vs. Stand-alone: Average Revenue__

In [5]:
movies1 = movies.copy()
movies1['franchise'] = np.where(movies1['belongs_to_collection'].isnull(), 'Stand_alone', 'Franchise')
movies1.head()
movies1.groupby(by ='franchise')['revenue_musd'].mean()

franchise
Franchise      165.708193
Stand_alone     44.742814
Name: revenue_musd, dtype: float64

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

__Franchise vs. Stand-alone: Average Budget__

__Franchise vs. Stand-alone: Average Popularity__

__Franchise vs. Stand-alone: Average Rating__

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__