# Project 9: Web Scraping, APIs & Wrappers (US Stocks)

## Web Scraping - the Dow Jones Constituents

In [1]:
import pandas as pd

In [2]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 136 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                               ^DJI
 5                                                 30
 6                                          Large cap
 7                      $8.33 trillion (Dec. 2019)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange Symbol                        Industry  \
 0                         3M     NYSE    MMM                    Conglomerate
 1           American Express     NYSE    AXP              Financial services
 2                      Amgen   NASDAQ   AMGN         Pharmaceutical industry
 3                 Apple Inc.   NASDAQ   AAPL          Information technology
 4                     Boeing     NYSE     BA           Aerospace and defense
 5           Caterpillar Inc.     NYSE    CAT         Construction and Mining
 6        Chevron Corporation     NYSE    CVX              Petroleum industry
 7              Cisco Systems   NASDAQ   CSCO          Information technology
 8      The Coca-Cola Company     NYSE     KO                   Food industry
 9                   Dow Inc.     NYSE    DOW               Chemical industry
 10             Goldman Sachs     NYSE     GS              Financial services
 11            The Home Depot     NYSE     HD                       Retailing
 12                 Honeywell   NASDAQ    HON                    Conglomerate
 13                       IBM     NYSE    IBM          Information technology
 14                     Intel   NASDAQ   INTC          Information technology
 15         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 16            JPMorgan Chase     NYSE    JPM              Financial services
 17                McDonald's     NYSE    MCD                   Food industry
 18               Merck & Co.     NYSE    MRK         Pharmaceutical industry
 19                 Microsoft   NASDAQ   MSFT          Information technology
 20                Nike, Inc.     NYSE    NKE                         Apparel
 21          Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 22                Salesforce     NYSE    CRM          Information technology
 23   The Travelers Companies     NYSE    TRV              Financial services
 24        UnitedHealth Group     NYSE    UNH             Managed health care
 25    Verizon Communications     NYSE     VZ               Telecommunication
 26                 Visa Inc.     NYSE      V              Financial services
 27  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing
 28                   Walmart     NYSE    WMT                       Retailing
 29   The Walt Disney Company     NYSE    DIS  Broadcasting and entertainment

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           3.84%
 1   1982-08-30                                    NaN           2.88%
 2   2020-08-31                                    NaN           4.87%
 3   2015-03-19                                    NaN           2.57%
 4   1987-03-12                                    NaN           4.92%
 5   1991-05-06                                    NaN           4.54%
 6   2008-02-19          Also 1930-07-18 to 1999-11-01           2.03%
 7   2009-06-08                                    NaN           1.00%
 8   1987-03-12          Also 1932-05-26 to 1935-11-20           1.04%
 9   2019-04-02                                    NaN           1.25%
 10  2013-09-20                                    NaN           6.54%
 11  1999-11-01                                    NaN           6.24%
 12  2020-08-31                                    NaN           4.47%
 13  1979-06-29          Also 1932-05-26 to 1939-03-04           2.59%
 14  1999-11-01                                    NaN           1.25%
 15  1997-03-17                                    NaN           3.12%
 16  1991-05-06                                    NaN           2.95%
 17  1985-10-30                                    NaN           4.49%
 18  1979-06-29                                    NaN           1.49%
 19  1999-11-01                                    NaN           4.98%
 20  2013-09-20                                    NaN           2.58%
 21  1932-05-26                                    NaN           2.64%
 22  2020-08-31                                    NaN           4.45%
 23  2009-06-08                                    NaN           3.03%
 24  2012-09-24                                    NaN           7.33%
 25  2004-04-08                                    NaN           1.13%
 26  2013-09-20                                    NaN           4.33%
 27  2018-06-26                                    NaN           1.06%
 28  1997-03-17                                    NaN           2.72%
 29  1991-05-06                                    NaN           3.66%  ,
      Year  Closing value Change in points Change in percent
 0    1885          39.29            10.83             38.05
 1    1886          41.03             1.74              4.43
 2    1887          37.58            −3.45             −8.41
 3    1888          39.39             1.81              4.82
 4    1889          41.56             2.17              5.51
 ..    ...            ...              ...               ...
 131  2016       19762.60          2337.57             13.42
 132  2017       24719.22          4956.62             25.08
 133  2018       23327.46        −1,391.76             −5.63
 134  2019       28538.44          5210.98             22.34
 135  2020       30606.48          2068.04              7.25

 [136 rows x 4 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Dow Jon...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                                          Magazines
 27                                              Other
 28                                     Formerholdings
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32                                       Other assets
 33      See also: 21st Century Fox · News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News MarketWatch.com The Wa...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  Sky News Live Sky News Extra Sky News Weather ...
 26            Big League GQ Australia Vogue Australia
 27  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 28  Australian Associated Press (47%) ADS (Adelaid...
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Move Realtor.com New York Post News America Ma...
 33      See also: 21st Century Fox · News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News MarketWatch.com The Wa...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                                          Magazines
 13                                              Other
 14                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  Sky News Live Sky News Extra Sky News Weather ...
 12            Big League GQ Australia Vogue Australia
 13  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 14  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian The Daily Telegraph (Sydney) He...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
                                           vteNews UK  \
 0  The Times The Sunday Times The Sun The Times L...

                                         vteNews UK.1
 0  The Times The Sunday Times The Sun The Times L...  ]

In [3]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [4]:
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,2.88%
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,NaN,4.87%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.57%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.92%
5,Caterpillar Inc.,NYSE,CAT,Construction and Mining,1991-05-06,NaN,4.54%
6,Chevron Corporation,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.00%
8,The Coca-Cola Company,NYSE,KO,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
9,Dow Inc.,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.25%
10,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,6.54%
11,The Home Depot,NYSE,HD,Retailing,1999-11-01,NaN,6.24%
12,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,NaN,4.47%
13,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,Intel,NASDAQ,INTC,Information technology,1999-11-01,NaN,1.25%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.12%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.95%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.49%
18,Merck & Co.,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.49%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.98%
20,"Nike, Inc.",NYSE,NKE,Apparel,2013-09-20,NaN,2.58%
21,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.64%
22,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.45%
23,The Travelers Companies,NYSE,TRV,Financial services,2009-06-08,NaN,3.03%
24,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.33%
25,Verizon Communications,NYSE,VZ,Telecommunication,2004-04-08,NaN,1.13%
26,Visa Inc.,NYSE,V,Financial services,2013-09-20,NaN,4.33%
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,1.06%
28,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.72%
29,The Walt Disney Company,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,3.66%

In [5]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar Inc.,NYSE,CAT,Construction and Mining,1991-05-06
6,Chevron Corporation,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08
8,The Coca-Cola Company,NYSE,KO,Food industry,1987-03-12
9,Dow Inc.,NYSE,DOW,Chemical industry,2019-04-02
10,Goldman Sachs,NYSE,GS,Financial services,2013-09-20
11,The Home Depot,NYSE,HD,Retailing,1999-11-01
12,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
13,IBM,NYSE,IBM,Information technology,1979-06-29
14,Intel,NASDAQ,INTC,Information technology,1999-11-01
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
17,McDonald's,NYSE,MCD,Food industry,1985-10-30
18,Merck & Co.,NYSE,MRK,Pharmaceutical industry,1979-06-29
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
20,"Nike, Inc.",NYSE,NKE,Apparel,2013-09-20
21,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
22,Salesforce,NYSE,CRM,Information technology,2020-08-31
23,The Travelers Companies,NYSE,TRV,Financial services,2009-06-08
24,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
25,Verizon Communications,NYSE,VZ,Telecommunication,2004-04-08
26,Visa Inc.,NYSE,V,Financial services,2013-09-20
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
28,Walmart,NYSE,WMT,Retailing,1997-03-17
29,The Walt Disney Company,NYSE,DIS,Broadcasting and entertainment,1991-05-06

In [8]:
const.rename(columns = {"Date added":"Date_Added"}, inplace = True)

In [9]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [10]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [11]:
import unicodedata

In [12]:
const.Symbol

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DOW
10      GS
11      HD
12     HON
13     IBM
14    INTC
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21      PG
22     CRM
23     TRV
24     UNH
25      VZ
26       V
27     WBA
28     WMT
29     DIS
Name: Symbol, dtype: object

In [13]:
const.Symbol.to_list()

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [14]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [15]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DOW
10      GS
11      HD
12     HON
13     IBM
14    INTC
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21      PG
22     CRM
23     TRV
24     UNH
25      VZ
26       V
27     WBA
28     WMT
29     DIS
Name: Symbol, dtype: object

In [16]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [17]:
const.Symbol[0]

'MMM'

In [18]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [19]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,AMGN
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
5,Caterpillar Inc.,NYSE,CAT,Construction and Mining,1991-05-06,CAT
6,Chevron Corporation,NYSE,CVX,Petroleum industry,2008-02-19,CVX
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
8,The Coca-Cola Company,NYSE,KO,Food industry,1987-03-12,KO
9,Dow Inc.,NYSE,DOW,Chemical industry,2019-04-02,DOW
10,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,GS
11,The Home Depot,NYSE,HD,Retailing,1999-11-01,HD
12,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
13,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
14,Intel,NASDAQ,INTC,Information technology,1999-11-01,INTC
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
18,Merck & Co.,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
20,"Nike, Inc.",NYSE,NKE,Apparel,2013-09-20,NKE
21,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
22,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
23,The Travelers Companies,NYSE,TRV,Financial services,2009-06-08,TRV
24,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,UNH
25,Verizon Communications,NYSE,VZ,Telecommunication,2004-04-08,VZ
26,Visa Inc.,NYSE,V,Financial services,2013-09-20,V
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
28,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT
29,The Walt Disney Company,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS

In [20]:
ticker_list = const.Ticker.to_list()

In [21]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [22]:
const.to_csv("const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [23]:
import pandas as pd
import yfinance as yf

In [24]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [25]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-03-31")

[*********************100%***********************]  30 of 30 completed

In [26]:
prices

            Adj Close                                                 \
                 AAPL        AMGN        AXP          BA         CAT
Date
2007-01-03   2.573566   53.748402  47.838795   64.405731   40.944595
2007-01-04   2.630688   56.050747  47.490051   64.665741   40.837482
2007-01-05   2.611954   56.184349  46.863956   64.391273   40.315292
2007-01-08   2.624853   55.736446  47.307781   64.239609   40.362164
2007-01-09   2.842900   56.003613  47.006588   63.560661   40.583073
...               ...         ...        ...         ...         ...
2020-03-24  61.141407  195.457443  82.325073  127.680000   98.098778
2020-03-25  60.804588  186.570389  88.319473  158.729996  101.322266
2020-03-26  64.004311  191.738419  91.375450  180.550003  106.965805
2020-03-27  61.354385  191.525909  86.909035  162.000000  102.067635
2020-03-30  63.105312  201.388580  88.417427  152.279999  108.137093

                                                                     ...  \
                   CRM       CSCO        CVX         DIS        DOW  ...
Date                                                                 ...
2007-01-03    9.017500  20.589767  41.455723   28.317101        NaN  ...
2007-01-04    9.470000  21.131788  41.052643   28.540649        NaN  ...
2007-01-05    9.880000  21.139219  41.210381   28.308815        NaN  ...
2007-01-08    9.982500  21.258024  41.736099   28.565489        NaN  ...
2007-01-09    9.990000  21.139219  41.257103   28.524090        NaN  ...
...                ...        ...        ...         ...        ...  ...
2020-03-24  153.639999  37.024021  62.829350   98.120003  26.904692  ...
2020-03-25  147.059998  36.131992  65.397270  100.730003  28.709679  ...
2020-03-26  154.729996  38.923183  72.109764  105.360001  28.048168  ...
2020-03-27  146.000000  37.235043  64.934662   96.400002  26.989744  ...
2020-03-30  149.850006  38.673798  67.927437   99.800003  27.074797  ...

              Volume                                                   \
                 MRK      MSFT       NKE        PG      TRV       UNH
Date
2007-01-03  15019300  76935100  17299200   9717900  3432800   8360300
2007-01-04  12515200  45774500  15085600   8711400  2068200   5152500
2007-01-05  10656900  44607200  14996800   9907900  2104600   6215700
2007-01-08   7046300  50220200  10109600  11068200  2440900   4344100
2007-01-09   8623200  44636600  15167200  10823800  1319500   5483900
...              ...       ...       ...       ...      ...       ...
2020-03-24  18990400  82516700  18849500  14625500  4293300   8894400
2020-03-25  17472800  75638200  27053200  13789100  4151400  10014000
2020-03-26  17226000  64568100  17200800  15796000  4610600   7517600
2020-03-27  11896200  57042300  14183400  16073100  3085400   4879500
2020-03-30  15079500  63420300  10960100  14571600  2733700   5329000


                     V        VZ       WBA       WMT
Date
2007-01-03         NaN  21445850   6294500  35687300
2007-01-04         NaN  19215860   3681800  17073000
2007-01-05         NaN  19047041   3680900  13556900
2007-01-08         NaN  20370917   4720800  16396400
2007-01-09         NaN  16281352   3792500  14643200
...                ...       ...       ...       ...
2020-03-24  24488300.0  40626900   9638400  14235000
2020-03-25  20619600.0  38551300  11040500  17762500
2020-03-26  17062900.0  32610900  11095700  19416900
2020-03-27  14950700.0  25363600   5898000  12053500
2020-03-30  15714500.0  20660200   7114900   9737500

[3333 rows x 180 columns]

In [27]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(152), int64(28)
memory usage: 4.6 MB

In [28]:
prices = prices.loc[:,"Close"].copy()

In [29]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AXP     3333 non-null   float64
 3   BA      3333 non-null   float64
 4   CAT     3333 non-null   float64
 5   CRM     3333 non-null   float64
 6   CSCO    3333 non-null   float64
 7   CVX     3333 non-null   float64
 8   DIS     3333 non-null   float64
 9   DOW     260 non-null    float64
 10  GS      3333 non-null   float64
 11  HD      3333 non-null   float64
 12  HON     3333 non-null   float64
 13  IBM     3333 non-null   float64
 14  INTC    3333 non-null   float64
 15  JNJ     3333 non-null   float64
 16  JPM     3333 non-null   float64
 17  KO      3333 non-null   float64
 18  MCD     3333 non-null   float64
 19  MMM     3333 non-null   float64
 20  MRK     3333 non-null   float64
 21  MSFT    3333 non-null   float64
 22  NKE     3333 non-null   float64
 23  PG      3333 non-null   float64
 24  TRV     3333 non-null   float64
 25  UNH     3333 non-null   float64
 26  V       3029 non-null   float64
 27  VZ      3333 non-null   float64
 28  WBA     3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.2 KB

In [30]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,NaN,...,44.020000,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,46.070000,47.549999
2007-01-04,3.059286,71.330002,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,NaN,...,45.110001,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,46.160000,47.779999
2007-01-05,3.037500,71.500000,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,NaN,...,44.299999,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,45.500000,47.389999
2007-01-08,3.052500,70.930000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,NaN,...,44.290001,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,45.689999,47.000000
2007-01-09,3.306071,71.269997,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,NaN,...,43.880001,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,45.930000,47.389999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,28.469999,...,69.050003,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,45.250000,115.029999
2020-03-25,61.380001,193.139999,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,30.379999,...,68.220001,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,41.439999,109.400002
2020-03-26,64.610001,198.490005,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,29.680000,...,73.529999,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,45.669998,109.820000
2020-03-27,61.935001,198.270004,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,28.559999,...,71.730003,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,44.000000,109.580002
2020-03-30,63.702499,208.479996,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,28.650000,...,76.949997,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,45.160000,115.190002

In [31]:
prices.to_csv("const_prices.csv")

In [32]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-03-31")

[*********************100%***********************]  1 of 1 completed

In [33]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,3272000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,2590600
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,2352200
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,2235000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,2251900
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,7993400
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,7963200
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,7051800
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,5888300
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,5455400

In [34]:
dji.to_csv("dji.csv")

In [35]:
dji.to_csv("dji.csv")